{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}博客列表{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.min.css' %}">


    <style>
        .list {
            z-index: 2;
        }

        .blog-list .number {
            width: 100px;
            text-align: right;
        }

        .blog-list .number a {
            font-weight: 500;
            padding: 0 10px;
        }

        .blog-list .blog .tags {
            padding: 10px 0;
        }

        .blog-list .blog .tags span {
            margin-right: 20px;
            display: inline-block;
            font-size: 12px;
        }

        .blog-list .blog .tags .type {
            color: white;
            padding: 1px 5px;
            border-radius: 5px;
            background-color: #dddddd;
        }

        .editormd {
            margin-bottom: 0;
        }

        .pd-0 {
            padding: 0 !important;
        }

    </style>
{% endblock %}


{% block content %}
    <div class="col-sm-2"></div>
    <div class="col-sm-8 list">
        <div class="panel panel-default">
            <table class="table">

                <tbody class="blog-list">
                {% for item in blog_object_list %}
                    <tr>

                        <td class="blog">
                            <div>
                                <a target="_blank"
                                   href="{% url 'blog_detail' blog_id=item.id %}">{{ item.title }}</a>
                            </div>
                            <div class="tags">
                                <span>
                                    <i class="fa fa-user-o" aria-hidden="true"></i>
                                    {{ item.creator.username }}
                                </span>
                                <span class="">
                                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                                    {{ item.create_time |date:'Y-m-d' }}
                                </span>
                                <span>
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    {{ item.click_nums }}
                                </span>
                                <span>
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                    {{ item.category }}
                                </span>



                            </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <nav aria-label="...">
            <ul class="pagination" style="margin-top: 0;">
                {{ page_html|safe }}
            </ul>
        </nav>
    </div>

    </div>


{% endblock %}
